<div class="img-small">
  <img src="{{imgs[0]}}" ng-mouseenter="showIcon=true" ng-mouseleave="showIcon=false">
  <div class="overlay-small" ng-show="showIcon" ng-click="imgLarge=!imgLarge" ng-mouseenter="showIcon=true" ng-mouseleave="showIcon=false">
  		<div class="enlarge-icon"></div>
  </div>
</div>

<div class="overlay-large" ng-show="imgLarge">
	<div class="img-large">
		<div class="img-wrapper">
			<div class="img-carouse" style="background-image: url(&quot;{{imgs[imgIndex]}}&quot;);"></div>
			<span class="modal-cancel" ng-click="imgLarge=!imgLarge">×</span>
			<img src="../images/left.png" class="img-forward"  ng-click="selImg('-')">
			<img src="../images/right.png" class="img-backward"  ng-click="selImg('+')">
			<div class="img-num">{{imgIndex+1+'/'+(imgs.length+1)}}</div>
		</div>
	</div>
</div>
